<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order, <%= @order_details.email %></h1>

    Here are the details of your order:<br><br>
    <% @line_items = LineItem.where(order_id: @order_details.id) %>
    <% @line_items.each do |line_item| %>
      <% @line_product = Product.find_by(id: line_item.product_id) %>
      <%= @line_product.name %>
      <%= line_item.quantity %>
      <%= number_to_currency(line_item.item_price_cents / 100) %>
      <%= number_to_currency(line_item.total_price_cents / 100) %>
      <br>
    <% end %>
    Total order: <%= number_to_currency(@order_details.total_cents / 100) %>
      <br>

    <p>Thanks for your order and have a great day!</p>
  </body>
</html>