<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<h1>Order <%= @order.id %></h1>
<h3>Thank you for shopping with Jungle!</h3>
<h4>An email has been sent to <%= @order.email %> with the confirmation of your order..</h4>
<h4>
<div class="order-summary jumbotron">
<h1>Order <%=@order.id %> </h1>
<h3><%= @order.email %> </h3>
<h4>Thank you for your order!</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Product</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
  <% line_item.each do |item| %>
    <tr>
    <td>
      <h4><%= item[:product].name %></h4>
    </td>
    <td>
      <%= item[:product].price %>
    </td>
    <td>
      <%= item[:quantity] %>
    </td>
    <td>
      <%= item[:product].price * item[:quantity].to_i %>
    </td>
</tr>
<% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="4">
        Price Total:
      </th>
      <th>
      <% order_total = 0 %>
      <%= line_item_subtotal / 100.00 %>
      </th>
    </tr>
  </tfoot>
</table>
</div>
</body>
</html>
