<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html" charset="UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Thank you for your order!</h1>
  <h3>Here's a summary of your purchase:</h3>
  <% puts @order %>
  <% @order.line_items.each do |item| %>

  <p>Product: <%= item.product.name %></p>
  <p>Description: <%= item.product.description %></p>
  <p>Quantity: <%= item.quantity %></p>
  <p>Item Price: <%= item.item_price %></p>
  <p>Line Total: <%= item.total_price %></p>

  <% end %>

  <p>Final Total: <%= @order.total %></p>

</body>
</html>