<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page Title</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <header class="page-header">
      <h1>Order #<%= @order.id %></h1>
    </header>

    <div class="order-summary jumbotron">
      <h4>Thank you for your order, <%= @order.email %>! Here's an overview of what you just ordered:</h4>

      <div class="panel panel-default items">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @order.line_items.each do |item| %>
            <% product = Product.find_by(id: item.product_id) %>
            <tr>
              <td>
                <%= image_tag product.image.tiny %>
              </td>
              <td>
                <h4><%= product.name %></h4>
                <br>
                <p><%= product.description %></p>
              </td>
              <td>
                <%= product.price %>
              </td>
              <td>
                <%= item.quantity %>
              </td>
              <td>
                <%= "#{item.total_price_cents/100}.#{item.total_price_cents%100}" %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">
              TOTAL:
            </th>
            <th>
              <%= "#{@order.total_cents/100}.#{@order.total_cents%100}" %>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>


    </div>
  </body>
</html>