<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your purchase from Jungle</h1>
    <p>
      Your order have successfully placed.
    </p>
    <p>
      You ordered:
      <% @order.line_items.each do |item| %>

      product: <%= item.product.name %>
      quantity: <%= item.quantity %>
      price: <%= humanized_money_with_symbol item.item_price_cents/100 %>
      total price: <%= humanized_money_with_symbol item.total_price_cents/100 %>
      <% end %>
      total fee: <%= humanized_money_with_symbol @order.total_cents/100 %>
    </p>
    <p>Thanks for using Jungle and have a great day!</p>
  </body>
</html>


