Thank you for your order, <%= @user.first_name %>


          <% @order_total = 0 %>
          <% @order.line_items.each do |line_id| %>
            <% product_id = line_id.product_id %>
            <% quantity = line_id.quantity %>
           <% if product = Product.find_by(id: product_id) %>
              <% line_item_total = product.price * quantity %>
              <% @order_total += line_item_total %>


              <tr>
                <td>
                  <%= image_tag product.image.tiny %>
                </td>
                <td>
                  <h4><%= product.name %></h4>
                  <br>
                  <p><%= product.description %></p>
                </td>
                <td>
                  <%= product.price %>
                </td>
                <td>
                  <%= quantity %>
                </td>
                <td>
                  <%= line_item_total %>
                </td>
              </tr>
            <% end %>
          <% end %>
          <%= @order_total %>


 
Thanks for joining and have a great day!
