<h1> ALL USERS</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    <%= @users.each do |user| %>
    <tr>
        <td><%= user.name %></td>
        <td><%= user.email%></td>
    </tr>
    <%= end %>
    <tr>
        <td colSpan="2"><%= link_to "Add User", 