<h2> Create Account</h2>
<div class="col-sm-8">
        <dl class="dl-horizontal">
        <%=form_tag '/users' do%>
                <dt><%= label_tag :first_name%></dt>
                <dd><%= text_field_tag :first_name%></dd>

                <dt><%= label_tag :last_name%></dt>
                <dd><%= text_field_tag :last_name%> </dd>

                <dt><%= label_tag :email%></dt>
                <dd><%= text_field_tag :email%></dd>

                <dt><%= label_tag :password%></dt>
                <dd><%= password_field_tag :password%></dd>

                <dt><%= label_tag :password_confirmation%></dt>
                <dd><%= password_field_tag :password_confirmation%></dd>
        <%= submit_tag 'Register' %>
        <%end%>