<!-- app/views/users/new.html.erb -->

<header class="page-header">
  <h1>Signup</h1>
</header>

<div class="row">
  <div class="col-sm-6 col-sm-offset-1">

    <%= form_for :user, url: '/users' do |f| %>

      <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>
      </div>

      <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <%= f.submit "Submit" %>

    <% end %>

  </div>
</div>
