

  <div class="row">
<div class="col-sm-6 col-sm-offset-1">

<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

<div class="form-group">
  Name: <%= f.text_field :name %>
  </div>

  <div class="form-group">
  Email: <%= f.text_field :email %>
</div>

<div class="form-group">
  Password: <%= f.password_field :password %>
  </div>

  <div class="form-group">
  Password Confirmation: <%= f.password_field :password_confirmation %>
  </div>

  <div class="form-group">
  <%= f.submit "Submit" %>
  </div>

<% end %>

</div>
</div>