<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  First Name: <%= f.text_field :first_name %><br>
  Last Name: <%= f.text_field :last_name %><br>
  Email: <%= f.text_field :email %><br>
  Password: <%= f.password_field :password %><br>
  Password Confirmation: <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Submit" %>

<% end %>