<% if product = Product.find_by(id: product_id) %>
    <% item_total = item_quantity * item_price %>
    <% @cart_total += item_total %>

    <tr>
      <td>
        <%= image_tag product.image.tiny %>
      </td>
      <td>
        <h4><%= product.name %></h4>
        <br>
        <p><%= product.description %></p>
      </td>
      <td>
        <%= product.price %>
      </td>
      <td>

        <%= item_quantity %>

      </td>
      <td>
        <%= item_total / 100.0 %>
      </td>
    </tr>
<% end %>