
<tr>
  <td>
    <%= image_tag line_item.product.image.tiny %>
  </td>
  <td>
    <h4><%= line_item.product.name %></h4>
    <br>
    <p><%= line_item.product.description %></p>
  </td>
  <td>
    $<%= line_item.product.price %>    
  </td>
  <td>
    <%= line_item.quantity %>
  </td>
  <td>
    $<%= line_item.product.price * line_item.quantity %>    
  </td>
</tr>
