
<tr>
  <td>
    <img src=<%= line_item.product.image %> width="80px" />
  </td>
  <td>
    <h5><%=line_item.product.name %></h5>
    <p><%=line_item.product.description %></p>
  </td>
  <td>
    <h5><%=line_item.quantity %></h5>
  </td>
  <td>
    <h5><%=line_item.product.price %></h5>
  </td>
</tr>