<% line_item.each do |item| %>
<tr>
  <td>
    <img src=<%= item.product.image %> width="80px" />
  </td>
  <td>
    <h5><%=item.product.name %></h5>
    <p><%=item.product.description %></p>
  </td>
  <td>
    <h5><%=item.quantity %></h5>
  </td>
  <td>
    <h5><%=item.product.price %></h5>
  </td>
  <% end %>
</tr>