<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
    <% @line_items.each do |item| %>
    <h3><%= (product_info item).name%> </h3>
    <p>Quantity: <%= item.quantity %><p>
    <p>Description: <%= (product_info item).description %> </p>
    <img class='order-image' src=<%=(product_info item).image %> >
    <p>Price: $<%= item.item_price_cents / 100 %> </p>
    <% end %>
    <p>Total Price: $<%= @order.total_cents / 100 %> </p>



  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>