<section class="orders-show">

  <header class="page-header">
  <h2>Order #<%= @order.id %> </h2>
  </header>
<div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @line_items.each do |item| %>
          <%= render 'item', product: (product_info item), item: (item) %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            $<%= @order.total_cents / 100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <h5> <%= @order.email %> </h5>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>