<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>

    <h4>Placed at: <%= @order.created_at %> </h4>

    <h4>E-mail used: <%= @order.email %> </h4>

    <br>
    <h4> Here are your items: </h4>

    <%= @order.line_items.each do |item| %>
      <%= render 'item',
      name: Product.where(["id = ?", item.product_id])[0].name,
      desc: Product.where(["id = ?", item.product_id])[0].description,
      image: Product.where(["id = ?", item.product_id])[0].image,
      quantity: item[:quantity] %>
      <% end %>

      <h4>Total: $<%= @order.total_cents/100.0 %> </h4>
  
    <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

  </div>

</section>
