<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <h2><%= @order.email %></h2>

  <table>

    <thead>
      <tr>
        <th colspan="2">Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>


    <tbody>
      <%= render partial: "line_item", locals: {line_item: @order.line_items} %>
      <td colspan="4"><h1>Total: <%=@order.total %></h1></td>
    </tbody>

  </table>
  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
