<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>
  <tbody> <% @products.each do |product| %>
  <tr>
    <td>
      <%= image_tag product.image.tiny %>
    </td>
    <td>
      <h4><%= product.name %></h4>
      <br>
      <p><%= product.description %></p>
    </td>
    <td>
      $<%= product.price %>
    </td>
          <%@li = LineItem.where(:product_id =>(product.id)) %>
    <p>qty: <%=@li[0].quantity %> </p>
    <br>

    <p> </p>

  </tr>
  </tbody> <% end %>
  <p> Total = $<%=@order.total_cents / 100.00 %>  </p>
  <br>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
