<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>



  <table>

    <thead>
      <tr style="padding: 30px" >
        <td colspan="2">Product</td>
        <td >Quantity</td>
        <td >Price</td>
      </tr>
    </thead>


    <tbody>
      <% @order.line_items.each do |item| %>
        <%= render partial: "line_item", locals: { line_item: item } %>
      <% end %>
      <td style="padding: 30px" colspan="4"><h1>Total: <%=@order.total %></h1></td>
    </tbody>

  </table>
  <div class="order-summary jumbotron">
    <p><%= @order.email %></9>
    <h3>Thank you for your order!</h3>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
