<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order! <%= @order.email %></h4>
  </div>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |item| %>
        <tr>
          <td>
            <%= image_tag item.product.image.tiny %>
          </td>
          <td>
            <h4><%= item.product.name %></h4>
            <br>
            <p><%= item.product.description %></p>
          </td>
          <td>
            <%= item.quantity %>
          </td>
          <td>
            <%= humanized_money_with_symbol item.total_price %>
          </td>

        </tr>
          <% end %>
      </tbody>

      <tfoot>
        <tr>
          <th colspan="3">
            TOTAL:
          </th>
          <th>
            <%= humanized_money_with_symbol @order.total %>
          </th>
        </tr>
      </tfoot>
    </table>


</div>


  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
