<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <h4>Email: <%= @order.email %></h4>
    <h4>Total order: <%= number_to_currency(@order.total_cents / 100) %></h4>
  </div>

  <div class="products">

    <% @line_items = LineItem.where(order_id: @order.id) %>

    <%= render 'line_item' %>

  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
