<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>
  <% if @cart == {} %>
    <thead>
    <th colspan="2">
    <h3>You don't have products in your cart.</h3>
    </th>
    <p>
      <h4>You can go back to our product page and pick some of our awesome products</h4>
      <a href="http://localhost:3000/"><button>Main Page</button></a>
    </p>

  </thead>
  <% else %>
  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_total = 0 %>
        <% cart.each do |product_id, details| %>
          <%= render 'item', product_id: product_id, details: details %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= @cart_total %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= form_tag orders_path do %>
      <% if current_user %>
          <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-amount="<%= @cart_total * 100 %>"
          data-name="Jungle"
          data-description="<%= current_user.name %>"
          data-locale="auto"
          data-email="<%= current_user.email %>"
          data-currency="cad">
        </script>
          <% end %>
          <% end %>
          <% if !current_user %>
          <h2><a href="http://localhost:3000/login">Sign-in</a> or <a href="http://localhost:3000/signup">Register</a></h2>
          <% end %>
    </div>
  </div>
  <% end %>

</section>
