<article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <% sum = [] %>
      <%  Review.where(product_id: product.id).each do |review| %>
        <% sum.push(review.rating) %>
      <% end %>
      <% if sum.length > 0 %>
        <% average = sum.inject(:+) / sum.length %>
        <h4><%= product.name %></h4>
        <p>Rating: <%= average %><p>
      <% else %>
        <h4><%= product.name %></h4>
      <% end %>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>
  </p>
  <footer class="actions">
    <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary', method: :put do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>
    <% if product.quantity == 0 %>
      <aside class='quantity'>
        SOLD OUT!
      </aside>
    <% end %>
  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>
</article>
