<article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %>
        <% rate = 0.0
            product.reviews.each do |r|
              rate += r.rating
            end
            avg_rate = rate / product.reviews.length %>

          <span class="index-rating"><%= avg_rate.round(1).to_f.nan? ? "N/A" : avg_rate.round(1) %></span>
          </h4>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>
  </p>
  <footer class="actions">
    <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary', method: :put do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>

  <% if product.quantity == 0 %>
    <aside class="sold-out">
      <span>SOLD OUT!</span>
    </aside>
  <% end %>

  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>
</article>
