<% if current_user %>
  <div class='new review'>
    <%= form_for([@product, @review]) do |f| %>
      <p>
        <%= f.label :rating %><br />
        <%= f.select :rating, [1, 2, 3, 4, 5] %>
      </p>
      <p>
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
  </div>
<%end%>

<% @product.reviews.reverse_each do |review| %>
  <div class='jumbotron'>
    <p>
      <% review.rating.times do |n| %>
        <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>

      <% (5-review.rating).times do |n| %>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      <% end %>
  </p>

    <span>
      Reviewed on <%= review.created_at %> by <%= review.user.first_name %>
    </span>
    <h4>
      <%= review.description %>
    </h4>
    <% if review.user == current_user %>
      <%= link_to fa_icon('trash'), [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>
