<div class='new review'>
  <%= form_for([@product, @review]) do |f| %>
    <p>
      <%= f.label :rating %><br />
      <%= f.select :rating, [1, 2, 3, 4, 5] %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>

<% @product.reviews.reverse_each do |review| %>
  <div class='jumbotron'>
    <span>
      Rating: <%= review.rating %>
      Date: <%= review.created_at %>
      User: <%= review.user.first_name %>
    </span>
    <h4>
      <%= review.description %>
    </h4>
  </div>
<% end %>
