<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
    
  </article>



  <article class="product-detail">
    <header>
      <div class="row">
        <div class="col-sm-4">
          <h3>Product Reviews:</h3>
        </div>
        <div class="col-sm-8">
          <%= form_for(@product) do |f| %>
          Description: <%= f.text_field :description  %>
              <span class="text-danger"><strong>Rate</strong></span>
              <select class="rating" name="rating">
                <option value='rating1'> ⭐ </option>
                <option value='rating2'> ⭐⭐ </option>
                <option value='rating3'> ⭐⭐⭐ </option>
                <option value='rating4'> ⭐⭐⭐⭐ </option>
                <option value='rating5'> ⭐⭐⭐⭐⭐ </option>
              </select>
              <%= f.submit "Submit", :class => "btn btn-default" %>
          <% end %>        
        </div>
      </div>
    </header>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>User</th>
            <th>Review</th>
            <th>User Rating</th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |r| %>
            <tr>
              <td><%= User.find(r.user_id).name %></td>
              <td><%= r.description %></td>
              <td><i class="fa fa-star"></i> <%= r.rating %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <footer>

    </footer>

</section>
