<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>



      <h2>Reviews</h2>

       <% @product.reviews.reverse_each do |review|%>
        <div class="single">
           <span class="review-words"> Product rating: <%= review.rating %></span>
        </div>

        <div class="single2">


          <span> Review description: <%= review.description %>
            <% if current_user && current_user.id == review.user_id %>
              <%= link_to "delete", review, method: :delete %>

            <% end %>

          </span>
        </div>
          <% end %>

        <% if current_user %>
          <div class="field">
            <h2>Leave a review</h2>
            <%= form_for([@product, @review]) do |f| %>
            <%= f.label :description %><br>
            <%= f.text_area :description %><br>
          <%= f.label :rating %><br>
            <%= f.select :rating, [1,2,3,4,5]%>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
            <% end %>
          <% end %>
        </div>




        <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
 </div>
 </div>
  </article>

</section>
