<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>

        <%= form_for [@product, @review] do |form| %>
        <h3> Create a review </h3>

          <% if form.object.errors.any? %>
            <div class="alert alert-danger">
              <strong>The following errors prevented saving:</strong>
              <ul>
                <% form.object.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_field :description, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :rating %>
            <%= form.text_field :rating, class: 'form-control' %>
          </div>

        <%= form.submit 'Create Review', class: 'btn btn-primary' %>
      <% end %>

        <% if @product.review.length != 0 %>
          <table class="table table-bordered">
          <caption>User Reviews</caption>
            <thead>
              <tr>
                <th>Description</th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>
              <% @product.review.each do |review| %>
                <tr>
                  <td>
                    <%= review.description %>
                  </td>
                  <td>
                    <% count = 0 %>
                    <% review.rating.times do %>
                      <%= fa_icon ('star') %>
                      <% count += 1 %>
                    <% end %>
                    <% while count < 5 do %>
                      <%= fa_icon('star-o') %>
                      <% count += 1 %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
        <p> No reviews yet! </p>
        <% end %>
      </div>
    </div>

  </article>

</section>
