<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <div class="row">
      <h3 class="page-header"> Reviews: </h3>
      <% if @product_reviews.size > 0 %>
        <% @product_reviews.each do |product_review| %>
          <div>
          <% @prod_user_name = User.find product_review.user_id %>
          <%= @prod_user_name.first_name %> gave it
          <%= pluralize(product_review.rating, "Star") %><br />
          <%= product_review.description %>
          </div>
          <br />
        <% end %>
      <% else %>
        There are no reviews for this product.
      <% end %>
    </div>

    <div class="row">
    <% if current_user %>
      <h4>Write a review</h4>
      <%= form_for :review, url: "#{@product.id}/reviews" do |frm| %>

        <div class="form-group">
        <%= frm.label :description %>
        <%= frm.text_area :description, class: 'form-control' %>
        </div>

        <div class="form-group">
        <%= frm.label :rating %>
        <%= frm.select :rating, [1, 2, 3, 4, 5], class: 'form-control' %>
        </div>

        <div class="form-group">
        <%= frm.submit "Submit", class: 'btn btn-primary' %>
        </div>

      <% end %>
    <% end %>
    </div>

  </article>

</section>
