<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt class=txt>Name</dt>
          <dd class=grid><%= @product.name %></dd>
          <dt class=txt>Description</dt>
          <dd class=grid><%= @product.description %></dd>
          <dt class=txt>Quantity</dt>
          <dd class=grid><%= @product.quantity %></dd>
          <dt class=txt>Price</dt>
          <dd class=grid><%= @product.price %></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <dl class="dl-vertical">
      <% if session[:user_id] %>
        <%= form_for [@product, @review]  do |f| %>
          <dt class=grid>What do you think about this product?</dt>
            <dd class=grid><%= f.text_area :description %></dd>
               <dd class=grid>
                 <%= f.submit "Submit" %>
                 <%= f.select(:rating, [[1],[2],[3],[4],[5]])%>
        <% end %>
      <% end %>
      </dd>
       <dt class=grid>
        <h4>Reviews</h4>
        </dt>
        <% @product.reviews.reverse.each do |review| %>
          <dt class=grid>Name</dt>
          <dd class=grid><%= review.user.first_name %> </dd>
          <dt class=grid >Description</dt>
          <dd class=grid><%= review.description %></dd>
          <dt class=grid>Vote from 1 to 5:</dt>
          <dd class=grid><%= review.rating %>
            <% if review.user_id == session[:user_id] %>
              <%= link_to fa_icon('trash'), [@product, review], class: 'btn btn-sm btn-danger', method: :delete %></dd>
            <% end %>
        <% end %>

      </dl>
    </div>

  </article>

</section>
