<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <% if session[:user_id] %>
        <%= form_for [@product, @review]  do |f| %>
          <dt>What do you think about this product?</dt>
            <dd><%= f.text_area :description %></dd>
              <dt></dt>
               <dd>
                 <%= f.submit "Submit" %>
                 <%= f.select(:rating, [[1],[2],[3],[4],[5]])%>
               </dd>
        <% end %>
      <% end %>
    </div>


    <div class="row">
      <dl class="dl-vertical">
        <dt>
        <h4>Reviews</h4>
        </dt>
        <% @product.reviews.reverse.each do |review| %>
          <dt>Name</dt>
          <dd><%= review.user.first_name %> </dd>
          <dt>Description</dt>
          <dd><%= review.description %></dd>
          <dt>Vote from 1 to 5:</dt>
          <dd><%= review.rating %></dd>
            <% if review.user_id == session[:user_id] %>
              <%= link_to fa_icon('trash'), [@product, review], class: 'btn btn-sm btn-danger', method: :delete %>
            <% end %>
        <% end %>

      </dl>
    </div>

  </article>

</section>
