<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">
    <div class="col-sm-4">
      <%= image_tag @product.image.url, class: 'main-img' %>
    </div>

    <div class="col-sm-8">
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd><%= @product.name %></dd>
        <dt>Description</dt>
        <dd><%= @product.description %></dd>
        <dt>Quantity</dt>
        <dd><%= @product.quantity %></dd>
        <dt>Price</dt>
        <dd><%= humanized_money_with_symbol @product.price %></dd>
        <dt>Avg. Rating</dt>
        <dd><%= (number_with_precision @product.reviews.average(:rating), precision: 2) || '0' %>/5</dd>
      <br>
        <dd><%= link_to 'Back to Products', products_path, class: 'btn btn-primary' %></dd>
      </dl>
    </div>
    </div>


    <% if !current_user %>
      <h4>Login or Sign Up to leave a review!</h4>
    <% else %>
    <br>
      <h4>Write a Review: </h4>
    <br>
      <%= form_for [@product, Review.new] do |f| %>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description %>
        </div>
        <div class="form-group">
          <%= f.label :rating %>
          <%= f.select :rating,[[1], [2], [3], [4], [5]], class: "form-control" %>
        </div>
        <div class="form-group">
           <%= f.submit 'Post review!', class: 'btn btn-primary' %>
        </div>
        <% end %>
      <% end %>
      <div class="col-sm-4">
        <h4>Product Reviews</h4>
        <% @product.reviews.reverse_each do |review| %>
          <%= render 'review', review: review %>
        <% end %>
      </div>

  </article>
</section>

