<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>

        <div class="col-sm-8">
          <%= form_for [@product, @review] do |f| %>
            <%= f.text_area :description %><br />
            <%= f.select :rating, options_for_select(1..5) %>
            <%= f.submit %>
          <% end %>
        <div/>

        <dl class="dl-horizontal">
        <% @product.reviews.each do |review| %>
          <dt>Rating</dt>
          <dd><%= review.rating %></dd>
          <dt><% user = User.find(review.user_id) %></dt>
          <dt><%= user.first_name %> <%= user.last_name %></dt>
          <dd><%= review.description %></dd>
        <% end %>
        </dl>
        </div>
      </div>


  </article>

</section>
