<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

  </article>
  <article>
    <% if current_user %>
      <div class="col-sm-6 col-sm-offset-1">
      <%= form_for [@product, Review.new], url: product_reviews_path(@product) do |form| %>
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_area :description, size: '30*30', class: 'form-control' %>
          <%= form.select :rating, options_for_select(['1','2','3','4','5']) %>
        </div>

        <%= form.submit 'Rate', class: 'btn btn-primary' %>
      <% end %>
    </div>
    <% end %>
  </article>
  <article>
    <div class="table-striped">
      <table class="table">

          <td><b>RATINGS</b></td>
          <% @product.reviews.reverse_each do |review| %>
        <tr>
            <td><%= review.user.first_name %> <%= review.user.last_name %></td>
            <td><%= review.description %></td>
            <td>Rating: <%= review.rating %></td>
            <% if review.user == current_user %>
              <td>
              <%= link_to 'Delete', product_review_path(review.product_id, review.id), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?"} %> </td>
            <% end %>
          <% end %>
        </tr>
      </table>
    </div>
  </article>
</section>
