<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
  </article>
  <div class="row">
    <%= render 'review' %>
  </div>
  <article>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>User</th>
            <th>Review</th>
            <th>User Rating</th>
            <% if current_user %>
              <th>Delete</th>
            <% end %>           
          </tr>
        </thead>
        <tbody>
          <% @product_reviews.each do |r| %>
            <tr>
              <td><%= User.find(r.user_id).name %></td>
              <td><%= r.description %></td>         
              <td><%= "\u2B50" * r.rating %></td>
              <% if current_user %>
                <td>
                  <% if current_user == User.find(r.user_id) %>
                    <%= link_to product_review_path(@product, r), method: :delete, data: { confirm: 'Are you sure you want to delete this review?' } do %>                             
                      <%= "	\u{1F5D1}" %> Delete 
                    <% end %>
                  <% end %>       
                </td>                 
              <% end %>  
            </tr>
          <% end %>
        </tbody>
      </table>  
    </div>
  </article>

</section>
