<div class="form-inline">
  <%= form_for [@product, @review] do |form| %>
    <% if form.object.errors.any? %>
      <div class="alert alert-danger">
        <strong>The following errors prevented saving:</strong>
        <ul>
          <% form.object.errors.full_messages.each do |error| %>
          <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='form-group'>
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= form.label :rating %>
      <%= form.select :rating, options_for_select(1..5), class: 'custom-select' %>
    </div>

  <%= form.submit 'Create Review', class: 'btn btn-primary create-button' %>
  <% end %>
</div>