<tr>

  <td>
  <%= image_tag("#{line_item.product.image}", :style => "max-width:100%") %>
  </td>

  <td>
  <%= line_item.product.name%>
  </td>

  <td>
  <%= line_item.product.description%>
  </td>

  <td>
  <%= humanized_money_with_symbol line_item.product.price %>
  </td>

  <td>
  <%= line_item.quantity %>
  </td>

  <td>
  <%= humanized_money_with_symbol line_item.total_price %>
  </td>

</tr>


