<!DOCTYPE html>
<html>
<head>
  <title>Jungle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%#= render partial: 'layouts/top_nav', locals: {current_user: @current_user}%>
<%= render 'layouts/top_nav' %>
  <main class="container">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </main>


  <%= yield :end_of_body %>
</body>
</html>

